		h1
		{
			color: #9E7742;
			font-family: math;
		}

		h3
		{
			color: #9E7742;
			font-family: Century Gothic, fantasy;
		}

		* {
			margin: 0;
			padding: 0;
		}

		.tab 
		{
			border: 1px solid #ccc;
 			border: none;
 			background-color: #9E7742;
 			float: left;
  			height: 300px;
		}

		.tab button 
		{
			display: block;
  			background-color: inherit;
  			border: none;
  			outline: none;
  			cursor: pointer;
 			padding: 22px 16px;
  			transition: 0.3s;
  			font-family: Century Gothic, fantasy;
  			color: #FFFFFF;
  			text-align: center;
  			width: 100%;
		}

		.tab button:hover {
  			background-color: #B59468;
		}

		.tab button.active {
 			 background-color: #D7B07C;
		}

		.tabcontent 
		{
			float: left;
			display: none;
 			padding: 0px 12px;
 			border-left: none;
 			width: 70%;
 			height: 300px;
  			animation: fadeEffect 1s; /* Fading effect takes 1 second */
		}

		/* Go from zero to full opacity */
		@keyframes fadeEffect 
		{
  			from {opacity: 0;}
  			to {opacity: 1;}
		}

		#flag
		{
			border: 5px solid #9E7742;
			border-radius: 10px;
			width: 60%;
		}